{{> header}}

    <h1>You reached the {{title}}</h1>
    <p>{{welcome}}</p>

    <li><a href="/">Home Page</a></li>
    <li><a href="/help">Help Page</a></li>
    <li><a href="/projects">Projects Page</a></li>

    
</body>
</html>

{{> footer}}