{{>header}}

    <h1>Welcome To My Portfolio Page</h1>
    <h3>Brought To You By Handlebars.js!</h3>

    <li><a href="/">Home Page</a></li>
    <li><a href="/help">Help Page</a></li>
    <li><a href="/projects">Projects Page</a></li>

{{>footer}}